{% extends "CineBundle::layout.html.twig" %}


{% block content %}
    <h4 class="white-text text-lighten-3" >Salas:</h4>
    <h3 class="white-text text-lighten-3" > {{ cant }} </h3>
    {% if cant != 0 %}
        {{form_start(form) }}
        {{form_end(form)}}
    {% else %}
        <p><a class="waves-effect waves-light btn" href="{{path("index")}}">Finalizar carga del cine</a></p>
    {% endif %}
{% endblock %}
