{% extends "CineBundle::layout.html.twig" %}


    {% block content %}
    <h1 class="text-center"">Edicion de la funcion:</h1>
    {% for message in app.session.flashbag().get('status') %}
        <script>Materialize.toast("{{ message }}", 6000, 'rounded')</script>
    {% endfor %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-4 ">
            {{form_start(form)}}
            {{form_end(form)}}
        </div>
    </div>
    </div>
    <div class="clearfix">
{% endblock %}