{% block content %}

    <div class="row">
    <ul class="collection col l9">

    <table>
    <thead>
    <tr>
        <th class="white-text" >Dia</th>
        <th class="white-text" >Hora</th>
        <th class="white-text" >Precio</th>
        <th></th>
    </tr>
    </thead>
    {% for funcion in funciones %}
        <tbody>
        <tr>
            <td class="white-text" >{{ funcion.fecha |date('d-m-y') }}</td>
            <td class="white-text" >{{ funcion.hora }}</td>
            <td class="white-text" >${{ funcion.precio }}</td>
            <td class="white-text" ><a href="{{path("entrada_confirmacion", {"id":funcion.id})}}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">forward</i></a></td>
        </tr>
        </tbody>
    {% endfor %}
    </table>

{% endblock %}