{% extends "CineBundle::layout.html.twig" %}

{% block content %}
    <h3 class="light grey-text text-lighten-3">Confirmacion... Pago</h3>
    <p class="light grey-text text-lighten-3">En Sacatuentrada.com usamos Mercado Pago para que sea mas facil para todos, si uan no tenes una cuenta create una <h4>

    <img class="" src="http://makeoverlab.com.ar/wp-content/uploads/2016/10/mercadopago.png">
         <button class="waves-effect waves-light btn"><i class="material-icons left">payment</i><a name="MP-Checkout" href="{{ preference.response.init_point }}" >Pagar</a></button>
    <script type="text/javascript" src="//resources.mlstatic.com/mptools/render.js"></script>
{% endblock %}