{% extends "CineBundle::layout.html.twig" %}
{% block content %}
     <div class="carousel carousel-slider center" data-indicators="true">
          <div class="carousel-fixed-item center">
               <a class="btn waves-effect white grey-text darken-text-2" href="{{ path('index_cine') }}">Empezar</a>
          </div>
          <div class="carousel-item red white-text" href="#one!">
               <h2>Elegi el cine</h2>
               <p class="white-text">This is your first panel</p>
          </div>
          <div class="carousel-item amber white-text" href="#two!">
               <h2>Elegi la peli</h2>
               <p class="white-text">This is your second panel</p>
          </div>
          <div class="carousel-item green white-text" href="#three!">
               <h2>Elegi la hora</h2>
               <p class="white-text">This is your third panel</p>
          </div>
          <div class="carousel-item blue white-text" href="#four!">
               <h2>Saca tus entradas</h2>
               <p class="white-text">This is your fourth panel</p>
          </div>
     </div>

     <script>
          $(document).ready(function(){
               $('.slider').slider();
               $('.carousel.carousel-slider').carousel({fullWidth: true});
               $('.carousel').carousel('next');

          });
     </script>
{% endblock %}
